/** Cấu hình riêng */
.header{
    /* height: 120px; */
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d); /*Cần coi lại*/

}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/** Interface after login*/
.header__navbar-item.header__navbar-user{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.5rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    padding: 8px 0;
    margin: 0;
    list-style: none;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    z-index: 1;
    box-shadow: 0 1px 3px #999;
    cursor: default;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    position: absolute;
    top: -31px;
    right: 33px;
    height: 10px;
    border-style: solid;
    border-width: 12px 18px;
    border-color: transparent transparent var(--white-color) transparent;
}

/* Bắc cầu*/
.header__navbar-user-menu::after{
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    display: inline-block;
    left: 0;
    top:-5%;
}

.header__navbar-user-item{
    padding: 4px 8px;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    display: inline;
    padding: 8px 12px;
}

.header__navbar-user-item:hover{
    background-color: rgb(241, 235, 235);
}

.header__navbar-user-item:hover a{
    color: rgb(75, 202, 130);
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: inline-block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    top:-50%; /*50% của cái chứa nó (ở đây là tag li) */
    right:-8px;
    /* Trục Oy hướng xuống dưới, 120% của chính chiều cao của nó (16px) */
    transform: translateY(100%); 
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

/** Header QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top:120%;
    left:0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Kỹ thuật bắc cầu */
.header__qr::before{
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    display: inline-block;
    left: 0;
    top:-5%;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-download-img{
    height: 16px;
}

/** Header notification*/
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    cursor: default; /* Note */
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform; /* Khai báo sự thay đổi vs brower*/
    transform-origin: top right; /* Điểm phát sinh hiệu ứng animation*/
    display: none;
    z-index: 1;
}

/*Kỹ thuật bắc cầu (tăng trải nghiệm người dùng)*/
.header__notify::before{
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    display: inline-block;
    top:-7%;
}

.header__notify::after{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    display: inline-block;
    right: 4px;
    top: -29px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3{
    margin: 0 0 0 12px;
    color: #999;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #F6F6F6;
}

.header__notify-item--viewed{
    background-color: var(--primary-color-rgba);
}

.header__notify-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400px;
    line-height: 1.8rem;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    margin: auto;
    color:var(--text-color);
    padding: 8px 16px;
    font-size: 1.4rem;
    font-weight: 400px;
}

/** Authen modal*/
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /* Khi thằng con chọc ra ngoài thì ẩn*/
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 0 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top:16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
    margin-left: 8px;
}

.auth-form__socials--fb{
    background-color: #3A5A98;
}

.auth-form__socials--gg{
    background-color: #EEE;
}

.auth-form__socials--gg:hover{
    background-color: rgba(0,0,0,0.15);
}

.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 32px;
}

.btn--with-icon{
    display: flex;
    align-items: center;
}

/** Login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.3rem;
    color: #939393;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
    
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center ;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0 16px;
}

.header__search-input:focus ~ .header__search-history{
    display: inline-block;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;
}

.header__search-select{
    padding-left: 16px;
    border-left: 1px solid #c6c6c6;
    position: relative;
}

.header__search-select:hover .header__search-option{
    display: inline-block;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.header__search-btn:hover{
    background-color: #ec593c;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    list-style: none;
    box-shadow: 0 1px 2px rgb(221, 215, 215);
    padding-left: 0;
    border-radius: 3px;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 4px;
}

.header__search-option-item:hover{
    background-color: #cecaca;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

/** Search history */
.header__search-history{
    width: calc(100% - 16px);
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    box-shadow: 0 1px 3px #666;
    background-color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    color: #999;
    font-weight: 400;
    padding: 0 0 0 12px;
    margin: 8px 0;
}

.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 0;
}

.header__search-history-item{
    padding: 0 12px;
    height: 35px;
    line-height: 35px;  
}

.header__search-history-item:hover{
    background-color: #FAFAFA;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    width: 100%;
}

/** Header empty cart*/
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 2px 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 3px);
    right: -7px;
    width: 400px;
    box-shadow: 0 2px 10px #CCC;
    background-color: var(--white-color);
    border-radius: 3px;
    align-items: center;
    flex-direction: column;
    animation: fadeIn ease-in 0.25s;
    cursor: default;
    display: none;
    z-index: 1;
}

/* Làm mũi tên nhô lên */
.header__cart-list::before{
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    top: -37px;
    right: 6px;
    border-width: 16px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--empty{
    padding: 20px 0;
}

.header__cart-msg-empty{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 8px;
    display: none;
}


.header__cart-img-empty{
    width: 75%;
    display: none;
}

/* Làm hiện lại khi không có sản phẩm*/
.header__cart-list--empty .header__cart-img-empty,
.header__cart-list--empty .header__cart-msg-empty{
    display: block;
}

/* Display notice*/
.header__cart-notice{
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 1.5rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 2px 6px;
    border-radius: 10px;
    border: 2px solid #eb4b2c ;
    line-height: 1.5rem;
}

/* Cart item */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
    z-index: 1;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #eceaea;
}

.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--boder-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
    margin: 0;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    color: #757575;
    font-size: 1rem;
    margin: 0 4px;
}

.header__cart-item-quatity{
    color: #757575;
    font-size: 1.2rem;
    
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove{
   font-size: 1.4rem;
   color: var(--text-color);
   cursor: pointer;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
}

.header__view-cart{
    float: right;
    margin: 0 12px 12px 12px;
}

.header__view-cart:hover{
    background-color: #F05D41;
}

/** App container */
.app__container{
    background-color: #F5F5F5;
}

.app__content{
    padding-top: 24px;
}
.category{
    background-color: var(--white-color);
    border-radius: 3px;
}

.category__heading{
    margin-top: 0;
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.category__heading-icon{
    font-size: 1.4rem;  
    margin-right: 4px;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 12px;

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}

.category-item__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    padding: 4px 16px;
    position: relative;
    right: 0;
    transition: right linear 0.1s; /* Định nghĩa khi chuyển động*/
}

.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}

.home-filter{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    padding: 12px 18px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    display: flex;
    padding: 0 8px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 3px #aaa;
}

.home-filter__page-btn{
    height: 36px;
    width: 36px;
    display: block;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #EEE;
}

.home-filter__page-btn i{
    margin: auto;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable i{
    color: #CCC;
}

/* Product item */
.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    /* Hiệu ứng di chuyển */
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    display: block;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 10px 6px 10px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis; // chỉ áp dụng đc trên 1 dòng
    white-space: nowrap; */
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like{
    font-size: 1.3rem;
}

.home-product-item__like--liked .icon-no-liked{
     display: none;
}

.home-product-item__like--liked .icon-liked{
    display: inline-block;
}

i.icon-liked{
    display: none;
    color: var(--primary-color);
}

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.85);
    transform-origin: right;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    margin: 0 10px;
    color:#595959;
    font-weight: 300;
    font-size: 1.2rem;
}

.home-product-item__brand{
    margin-right: auto;
}

.home-product-item__origin-name{

}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Hướng dẫn làm label */
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: currentColor;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.92);
    text-align: center;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.92) transparent rgba(255, 216, 64, 0.92);
}

.home-product-item__sale-off-percent{
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -2px;
}

.home-product-item__sale-off-label{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    position: relative;
    top: -11px;
    color: var(--white-color);
}




