/** Cấu hình riêng */
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d); /*Cần coi lại*/

}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: inline-block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    top:-50%; /*50% của cái chứa nó (ở đây là tag li) */
    right:-8px;
    /* Trục Oy hướng xuống dưới, 120% của chính chiều cao của nó (16px) */
    transform: translateY(100%); 
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

/** Header QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top:120%;
    left:0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

/* Kỹ thuật bắc cầu */
.header__qr::before{
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    display: inline-block;
    left: 0;
    top:-5%;
    background-color: black;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-download-img{
    height: 16px;
}

/** Header notification*/
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default; /* Note */
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform; /* Khai báo sự thay đổi vs brower*/
    transform-origin: top right; /* Điểm phát sinh hiệu ứng animation*/
    display: none;
}

/*Kỹ thuật bắc cầu (tăng trải nghiệm người dùng)*/
.header__notify::before{
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    display: inline-block;
    top:-7%;
}

.header__notify::after{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    display: inline-block;
    right: 4px;
    top: -29px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3{
    margin: 0 0 0 12px;
    color: #999;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #F6F6F6;
}

.header__notify-item--viewed{
    background-color: var(--primary-color-rgba);
}

.header__notify-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400px;
    line-height: 1.8rem;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    margin: auto;
    color:var(--text-color);
    padding: 8px 16px;
    font-size: 1.4rem;
    font-weight: 400px;
}

/** Authen modal*/
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /* Khi thằng con chọc ra ngoài thì ẩn*/
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 0 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top:16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
    margin-left: 8px;
}

.auth-form__socials--fb{
    background-color: #3A5A98;
}

.auth-form__socials--gg{
    background-color: #EEE;
}

.auth-form__socials--gg:hover{
    background-color: rgba(0,0,0,0.15);
}

.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 32px;
}

.btn--with-icon{
    display: flex;
    align-items: center;
}

/** Login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.3rem;
    color: #939393;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}
